.spheres {
  &_inner {
    padding: 88px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 428px) {
      padding: 48px 0;
    }

    &_title {
      font-family: OpenSans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #0A0D27;

      @media screen and (max-width: 428px) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    &_text {
      margin-top: 24px;
      font-family: OpenSans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #0A0D27;
    }

    &_list {
      margin-top: 80px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;

      @media screen and (max-width: 428px) {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
      }

      &_el {
        display: flex;
        flex-direction: column;
        width: 30%;

        @media screen and (max-width: 428px) {
          width: 85%;
          margin-top: 40px;

          &:first-child {
            margin-top: 0;
          }
        }

        &_img {
          width: 120px;
          margin: 0 auto;

          @media screen and (max-width: 428px) {
            width: 80px;
          }
        }

        &_title {
          margin-top: 48px;
          font-family: OpenSans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 28px;
          color: #0A0D27;
          text-align: center;

          @media screen and (max-width: 428px) {
            margin-top: 24px;
          }
        }

        &_text {
          margin-top: 24px;
          font-family: OpenSans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #0A0D27;
          text-align: center;
        }
      }
    }
  }
}
