.container {
    max-width: 1200px;
    width: 82%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 94%;
    }
}

@media screen and (max-width: 380px) {
    .container {
        width: 94%;
    }
}
