.container {
    max-width: 1200px;
    width: 82%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 94%;
    }

    @media screen and (max-width: 380px) {
        width: 94%;
    }
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
